@import "_variables.scss";
@import "_mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none !important;
}

* {
    outline: none !important;
    box-sizing: border-box;
}

.main {
  background: url('./img/bg.jpg') no-repeat;
  color: $color-white;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 12px;
  @include clearfix;
}

.text-bold {
  font-weight: bold;
}

a.btn {
  text-decoration: none;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
  margin: 0px 0px 0px 10px;
  color: $color-bg;
  cursor: pointer;
  background-color: $color-btns;
  border-radius: 24px;

  &:hover {
    color: $color-btns;
    background-color: $color-white;
  }
}
