@import "_variables.scss";
@import "_mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: url('./img/bg.jpg') no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  color: $color-white;
}

a {
  text-decoration: none !important;
}

* {
    outline: none !important;
    box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 12px;
  @include clearfix;
}
