@import "_variables.scss";
@import "_mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-bg;
  font-family: 'Josefin Sans', sans-serif;
}

* {
    outline: none !important;
    box-sizing: border-box;
}
