<div class="modal-header">
  <div class="text-center">
    <h4>Sin Up Modal</h4>
  </div>
</div>
<div class="modal-body" >
  <form novalidate>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group text-center">
        <a class="btn">Submit</a>
    </div>
  </form>
</div>
