/* CONTENT */

.content {
  padding-top: 80px;
  position: relative;

  h1 {
    font-weight: bold;
    font-size: 40px;
  }

  /*MAIN PRODCUTS PAGE*/
  .products {
    padding: 50px;
    min-height: 500px;

    .product {

      .prduct__content_image img {
        width:200px;
        height:200px;
      }

      .link {
        @include flex-end;
        padding-right: 80px;
        padding-top: 20px;
        font-size: 24px;
      }
    }
  }

 /*PRODUCTS DETAILS PAGE*/

 .product__details {
   img {
     width: 300px;
     height:300px;
   }
 }

 .top-link {
   a {
     font-size: 24px;
   }
 }

 .reviews {
   .reviews__block {
     height: 250px;
   }
 }

 .create-review {
   textarea {
     background: rgba(255,255,255,0.5);
     width: 300px;
     resize: none;
   }
 }

}
