/* CONTENT */

.content {
  padding-top: 80px;
  position: relative;

  h1 {
    font-weight: bold;
    font-size: 40px;
  }

  .products {
    padding: 50px;
    min-height: 500px;

    .product {

      .prduct__content_image img {
        width:200px;
        height:200px;
      }

      .link {
        @include flex-end;
        padding-right: 80px;
        padding-top: 20px;
        font-size: 24px;

        a {
          color:  $color-white;

          &:hover {
            color: $color-dark;
          }
        }

      }

    }
  }
}
