<!DOCTYPE html>
<html lang="">
<head>
    <title>{%= o.webpackConfig.metadata.title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{%= o.webpackConfig.metadata.title %}">
    <base href="{%= o.webpackConfig.metadata.baseUrl %}">
    <!-- FONTS -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' rel='stylesheet' type='text/css'>

    <link href="{%= o.webpackConfig.metadata.baseUrl %}css/vendor.css.css" rel="stylesheet">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<body>


      <toaster-container></toaster-container>
      <div class="main" data-ui-view></div>


{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
<script src="{%= o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
{% } %}
</body>
</html>
